<div class="whiteTextColor">
    <div class="vertical-center">
        <div>
            <h1><b> Oğuzhan Aydınay </b></h1>
        </div>
        <br><br>
        <div>
            <h3>Student/Developer</h3>
        </div>
        <br>
        <div>
            <a href="mailto:aydinayoguzhan@gmail.com"><fa-icon class="fa-2x" [icon]="faEnvelope"></fa-icon></a>
            &nbsp;
            <a href="https://github.com/AydinayOguzhan" target="_blank"><fa-icon class="fa-2x" [icon]="faGithub"></fa-icon></a>
            &nbsp;
            <a href="https://www.linkedin.com/in/oğuzhan-aydınay-7781b21a5/" target="_blank"><fa-icon class="fa-2x" [icon]="faLinkedin"></fa-icon></a>
        </div>
    </div>
</div>